<div class="content-wrapper" style="min-height: 1604.44px">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Profile</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">House Profile</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
                <img
                  class="profile-user-img img-fluid img-circle"
                  [src] ="model.imgPath"
                  alt="User profile picture"
                />
              </div>
            </div>
            <!-- /.card-body -->
            <div>
              <button class="btn btn-primary" (click)="file.click()" title="Edit House Picture">
                <i class="fas fa-edit"></i>
              </button>
            </div>
            <div>
              <input
                id="file"
                type="file"
                #file
                placeholder="Choose file"
                accept="image/*"
                (change)="uploadFiles(file.files)"
                multiple
                style="margin-bottom: 15px; display: none"
            />
            </div>
          </div>
          <!-- /.card -->

          <!-- About Me Box -->
          <app-house-about></app-house-about>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card">
            <div class="card-header p-2">
              <ul class="nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link" routerLink="bedroom" routerLinkActive="active">Bedroom</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="kitchen" routerLinkActive="active">Kitchen</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="hall" routerLinkActive="active">Hall</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="bathroom" routerLinkActive="active">Bathroom</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="house-details" routerLinkActive="active">Details</a>
                </li>
              </ul>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="tab-content">
                <!-- /.tab-pane -->
                <router-outlet></router-outlet>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<script src="../../../../node-modules/admin-lte/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>

<!-- Filterizr-->
<script src="../../../../node-modules/admin-lte/plugins/filterizr/jquery.filterizr.min.js"></script>
<!-- Page specific script -->
<script>
  $(function () {
    $(document).on("click", '[data-toggle="lightbox"]', function (event) {
      event.preventDefault();
      $(this).ekkoLightbox({
        alwaysShowClose: true,
      });
    });

    $(".filter-container").filterizr({ gutterPixels: 3 });
  });
</script>
