<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Dashboard</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"
              ><i class="fas fa-home"></i
            ></span>

            <div class="info-box-content">
              <span class="info-box-text">Houses</span>
              <span class="info-box-number">{{ housesCount }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"
              ><i class="fas fa-users"></i
            ></span>

            <div class="info-box-content">
              <span class="info-box-text">Tenants</span>
              <span class="info-box-number">{{ tenantsCount }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <!-- <div class="clearfix hidden-md-up"></div> -->

        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"
              ><i class="fas fa-search"></i
            ></span>

            <div class="info-box-content">
              <span class="info-box-text">Monthly Inspections</span>
              <span class="info-box-number">{{ inspectionMonthlyCount }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"
              ><i class="fas fa-bell"></i
            ></span>

            <div class="info-box-content">
              <span class="info-box-text">Pending Inspections</span>
              <span class="info-box-number"> {{ pendingMonthlyInspectionsCount }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="row">
        <!-- Left col for Admin-->
        <div class="col-md-6"  *ngIf="roleId == 1">
          <!-- MAP & BOX PANE -->
          <!-- TABLE: UPCOMING -->
          <div class="card">
            <div class="card-header border-transparent">
              <h3 class="card-title">Inspection Reminder</h3>
              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table m-0">
                  <thead>
                    <tr>
                      <th>House</th>
                      <th>Tenant</th>
                      <th>Date</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let schedule of inspection_scheules_viewmodel">
                      <td>{{ schedule.houseAddress }}</td>
                      <td>{{ schedule.userName }}</td>
                      <td>
                        <div
                          class="sparkbar"
                          data-color="#00a65a"
                          data-height="20"
                        >
                          {{ schedule.inspection_date }}
                        </div>
                      </td>
                      <td>
                        <a href="javascript:void(0)"
                        [routerLink]="['/inspection/add-inspection']">
                        <span class="badge badge-success">Inspect</span></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <a
                href="javascript:void(0)"
                [routerLink]="['/inspection/add-inspection']"
                class="btn btn-sm btn-info float-left"
                >Add New Schedule</a
              >
              <a
                href="javascript:void(0)"
                [routerLink]="['/inspection/add-inspection']"
                class="btn btn-sm btn-secondary float-right"
                >View All Schedules</a
              >
            </div>
            <!-- /.card-footer -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
         <!-- Right col for Tenant-->
        <div class="col-md-6" *ngIf="roleId == 3">
          <!-- MAP & BOX PANE -->
          <!-- TABLE: UPCOMING -->
          <div class="card">
            <div class="card-header border-transparent">
              <h3 class="card-title">Inspection Reminder</h3>
              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table m-0">
                  <thead>
                    <tr>
                      <th>House</th>
                      <th>Date</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let schedule of inspection_schedules_tenant_viewmodel">
                      <td>{{ schedule.houseAddress }}</td>
                      <td>
                        <div
                          class="sparkbar"
                          data-color="#00a65a"
                          data-height="20"
                        >
                          {{ schedule.inspection_date }}
                        </div>
                      </td>
                      <td>
                        <a href="javascript:void(0)"
                        [routerLink]="['/inspection/inspect-submit']">
                        <span class="badge badge-success">Submit</span></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <div class="row">
        <!-- List of Users -->
        <div class="col-md-6">
          <div class="card p-0">
            <div class="card-header">
              <div class="card-title">Message Box</div>
            </div>
            <div class="card-body">
              <label>Active Users</label>
              <ul class="list-group" *ngFor="let user of users">
                <li
                  class="list-group-item"
                  style="cursor: pointer"
                  (click)="selectedUser = user"
                  *ngIf="user.id !== userId"
                >
                  {{ user.name }}
                </li>
              </ul>
            </div>
            <!-- Online Users -->

            <div>
              <label
                ><b>{{ selectedUser?.name }}</b></label
              >
              <div id="chatBox">
                <div #msgBox id="msgBox" [scrollTop]="msgBox.scrollHeight" aria-placeholder="Message history">
                  <div
                    *ngFor="let msg of selectedUser?.msgs"
                    class="msg"
                    [ngClass]="msg.mine ? ' mine' : ' other'"
                  >
                    {{ msg.content }}
                  </div>
                </div>
                <textarea [(ngModel)]="msg" id="textarea" placeholder="Type your message here"></textarea>
                <button
                  id="sendBtn"
                  class="btn btn-primary"
                  [disabled]="selectedUser == null"
                  (click)="sendMsgInv()"
                >
                  Send
                </button>
              </div>
            </div>
            <!-- /.col -->
          </div>
          
        </div>
        <!-- Chat Box -->
      </div>
      <div class="row">
        <div class="col-md-12 custom">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Monthly Recap Report</h5>

              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <!-- <div class="btn-group">
                      <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                        <i class="fas fa-wrench"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <a href="#" class="dropdown-item">Action</a>
                        <a href="#" class="dropdown-item">Another action</a>
                        <a href="#" class="dropdown-item">Something else here</a>
                        <a class="dropdown-divider"></a>
                        <a href="#" class="dropdown-item">Separated link</a>
                      </div>
                    </div> -->
                <!-- <button type="button" class="btn btn-tool" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button> -->
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="col-md-8">
                  <p class="text-center">
                    <strong>Inspections: 1 Nov, 2021 - 30 Nov, 2021</strong>
                  </p>

                  <div class="chart">
                    <!-- Sales Chart Canvas -->
                    <canvas
                      id="salesChart"
                      height="180"
                      style="height: 180px"
                    ></canvas>
                  </div>
                  <!-- /.chart-responsive -->
                </div>

                <!-- /.col -->
                <div class="col-md-4">
                  <p class="text-center">
                    <strong>Goal Completion</strong>
                  </p>

                  <div class="progress-group">
                    Total Ratings
                    <span class="float-right"><b>160</b>/200</span>
                    <div class="progress progress-sm">
                      <div
                        class="progress-bar bg-primary"
                        style="width: 80%"
                      ></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->

                  <div class="progress-group">
                    Good Ratings
                    <span class="float-right"><b>310</b>/400</span>
                    <div class="progress progress-sm">
                      <div
                        class="progress-bar bg-success"
                        style="width: 75%"
                      ></div>
                    </div>
                  </div>

                  <!-- /.progress-group -->
                  <div class="progress-group">
                    <span class="progress-text">Average Ratingse</span>
                    <span class="float-right"><b>480</b>/800</span>
                    <div class="progress progress-sm">
                      <div
                        class="progress-bar bg-warning"
                        style="width: 80%"
                      ></div>
                    </div>
                  </div>

                  <!-- /.progress-group -->
                  <div class="progress-group">
                    Bad Ratings
                    <span class="float-right"><b>250</b>/500</span>
                    <div class="progress progress-sm">
                      <div
                        class="progress-bar bg-danger"
                        style="width: 80%"
                      ></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- ./card-body -->
            <div class="card-footer">
              <div class="row">
                <div class="col-sm-3 col-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-success"
                      ><i class="fas fa-caret-up"></i> 17%</span
                    >
                    <h5 class="description-header">40</h5>
                    <span class="description-text">TOTAL INSPECTIONS</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-warning"
                      ><i class="fas fa-caret-left"></i> 0%</span
                    >
                    <h5 class="description-header">$10,390.90</h5>
                    <span class="description-text">HIGH RATING</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-success"
                      ><i class="fas fa-caret-up"></i> 20%</span
                    >
                    <h5 class="description-header">$24,813.53</h5>
                    <span class="description-text">AVERAGE RATING</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-6">
                  <div class="description-block">
                    <span class="description-percentage text-danger"
                      ><i class="fas fa-caret-down"></i> 18%</span
                    >
                    <h5 class="description-header">1200</h5>
                    <span class="description-text">BAD RATING</span>
                  </div>
                  <!-- /.description-block -->
                </div>
              </div>
              <!-- /.row -->
            </div>
            <!-- /.card-footer -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Main row -->

      <!-- /.row -->
    </div>
    <!--/. container-fluid -->
  </section>
  <!-- /.content -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
